@{
    ViewData["Title"] = "Haberler";
}
<h1>@ViewData["Title"]</h1>

<hr>

<h3 class="text-center">Microsoft'un Activision hamlesi Sony'nin 20 milyar dolarını götürdü</h3>
<br>

<div class="container text-center">
    <img class=" w-100 h-50" src="~/fotos/haber1.jpg">
    <br>
    <div class="yazi">
        <br>
        Microsoft'un oyun devi Activision Blizzard'ı 68.7 milyar dolara satın alması, firmanın oyun konsolu alanındaki en büyük rakibi Sony'nin hisselerinde düşüşe yol açtı. Sony hisseleri yüzde 12.8 gerilerken piyasa değeri de yaklaşık 20 milyar dolar eriyerek 136 milyar dolara geriledi.
        <br>

        Söz konusu satın almanın ardından Microsoft, Tencent ve Sony'nin ardından dünyanın en büyük üçüncü oyun şirketi haline gelecek.

        Microsoft ile Japon Sony uzun yıllardır oyun konsolları Xbox ve PlayStation aracılığıyla sıkı bir rekabet içerisindeydi.

        Bu sebeple satın alma açıklamasından bu yana Sony hisselerinde sert düşüşler yaşanıyor. Sony hisselerinde günlük düşüş yüzde 12.8'i buldu. Bu Sony hisselerinde 2008'den bu yana gerçekleşen en sert günlük düşüş oldu.

        Bu düşüşle beraber Sony'nin piyasa değeri yaklaşık 20 milyar dolar eriyerek 136 milyar dolara geriledi.

        <hr>
        <h3 class="text-center">TCMB, BAE Merkez Bankası ile swap anlaşması imzaladı</h3>
        <br>


        <img class=" w-100 h-50" src="~/fotos/haber2.jpg">
        <br>
        <p>
            <br>
            Türkiye Cumhuriyet Merkez Bankası (TCMB), Birleşik Arap Emirlikleri Merkez Bankası ile swap anlaşması imzaladığını duyurdu. TCMB'den yapılan açıklamada swap anlaşmasının 3 yıl geçerli olacağı belirtilirken nominal büyüklüğünün 18 milyar dirhem (AED) ve 64 milyar Türk lirası (TRY) olduğu belirtildi.
            <br>
            TCMB'den yapılan açıklamada, "İki ülke arasında karşılıklı ticaretin geliştirilmesi yoluyla finansal iş birliğinin daha da güçlendirilmesi amacını taşıyan anlaşma üç yıl süreyle geçerli olacak ve karşılıklı mutabakatla uzatılabilecektir. Anlaşma, BAEMB Başkanı Sayın Khaled Mohamed Balama ile TCMB Başkanı Sayın Prof. Dr. Şahap Kavcıoğlu tarafından imzalanmıştır." denildi.

            Anlaşmanın imzalanmasından sonra yaptığı açıklamada Başkan Khaled Mohamed Balama, “Türkiye Cumhuriyet Merkez Bankası ile imzalanan bu anlaşma her iki ülkenin finansal konularda, özellikle de iki ülke arasındaki ticaret ve yatırımlar alanında ikili iş birliğini artırma iradesinin bir göstergesidir.” ifadelerini kullandı.

            Başkan Prof. Dr. Şahap Kavcıoğlu ise, "Bu anlaşma, iki ülke merkez bankasının, ülkeleri arasındaki ekonomik ve mali ilişkilerin geliştirilmesi için yerel para birimleri üzerinden karşılıklı ticaretin derinleştirilmesine yönelik kararlılığını göstermektedir.” değerlendirmesinde bulundu.

            TCMB'ninhalihazırda Çin ile 6 milyar dolar, Katar ile 15 milyar dolar ve Güney Kore ile 2 milyar dolarlık swap anlaşması bulunuyordu.
        </p>


        <hr>
        <h3 class="text-center">Kahramanmaraş'taki patlama petrol fiyatlarına yansıdı</h3>
        <br>


        <img class=" w-100 h-50" src="~/fotos/haber3.jpg">
        <br>

        <br>
        <p>
            <b>
                Kahramanmaraşta'ki Irak-Türkiye boru hattında yaşanan patlama sonrasında günlük 450 bin varillik petrol transferi dururken, petrol fiyatları çarşamba gününe yükselişle başladı.
                Petrol fiyatları, yakıt tüketiminin toparlanması ve stoklardaki düşüşle beraber yükselirken Kahramanmaraş’ta petrol boru hattında yaşanan yangında piyasaları etkiledi.
            </b>
        <p>
            Brent petrolün yakın vadedeki teslim kontratları ile uzak vadedeki teslim kontratları arasındaki fark artarak Kasım ortasından bu yana en yüksek seviyeye tırmandı. Yakın vade ve uzak vade kontratlar arasındaki fiyat farkının artması piyasada fiyatların yükseliş trendined olduğuna işaret ediyor.

            Boru hattının geçen yıl günlük 450 bin varil civarında petrol aktardığı belirtilirken, analistler arzın geçici bir süre eksilmesiyle beraber kontrat vadeleri arasındaki farkın daha da artabileceğine dikkat çekiyor.

            Kahramanmaraş'taki patlama sonrasında Brent petrol sabah saatlerinde yüzde 1,2 yükselişle varil başına 88,55 dolara çıkarken, ABD tipi ham petrol yüzde 1,3 yükselişle 86,56 dolar oldu. Boru Hattı'nın gün içerisinde yeniden transfere başlayacağına dair haberler sonrasında fiyatlar kısmi olarak geriledi.
        </p>

        </p>

    </div>

</div>

